@import "variables.scss";

@import "~bootstrap/scss/bootstrap.scss";
@import "layouts/sb-admin.scss";
*{
    margin: 0;
    padding: 0;
    position: relative;
}
body{
    overflow-x: hidden;
}
div{
    position: relative;
    box-sizing: border-box;
}
